@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "selfAdopt";
}
@{
	<h1>selfAdoptMember @ViewBag.kjj 的送養寵物</h1>


	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>協尋刊登</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
			  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
		<link href="~/LoginCss/lib/login.css" rel="stylesheet">
		<link href="~/LoginCss/lib/sidebars_boot.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
				integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
				crossorigin="anonymous"></script>
		<script src="~/LoginCss/lib/loginJS.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- header -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap" rel="stylesheet">
		@*<link href="~/LoginCss/lib/header.css" rel="stylesheet">*@
		<!-- 密碼的眼睛 -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
		  asp-append-version="true" />
	</head>

	<body>
		<!-- As a link -->
		<nav class="navbar bg-body-tertiary">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">PETouch</font>
					</font>
				</a>
				<span>會員中心</span>
				<a href="#">
					<img src="./itsyou-removebg-preview (2).png" style="border-radius:50%;overflow: hidden;" width="50"
						 height="50" ;>
				</a>
			</div>
		</nav>


		<!-- SLIDEBAR -->
		<div class="container">
			<div class="row">
				<div class="d-flex flex-column flex-shrink-0 p-2 bg-body-tertiary offset-lg-1" style="width: 200px;">
					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li class="nav-item">
							<a href="./login.html" class="nav-link slideBarElement">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#home"></use>
								</svg>
								登入(最後會拿掉)
							</a>
						</li>
						<li>
							<a href="revise.html" class="nav-link slideBarElement">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#speedometer2"></use>
								</svg>
								會員資料修改
							</a>
						</li>
						<li>
							<div class="dropdown">
								<a href="#" class="nav-link slideBarElement caret"
								   class="d-flex align-items-center dropdown-toggle" data-bs-toggle="dropdown"
								   aria-expanded="false">
									<svg class="bi pe-none me-2" width="16" height="16">
										<use xlink:href="#table"></use>
									</svg>
									管理刊登資訊▼
								</a>
								<ul class="dropdown-menu dropdown-menu-end text-small shadow">
									<li><a class="dropdown-item" href="./selfNoBringUp.html">送養列表</a></li>
									<li><a class="dropdown-item" href="./selfCoSearch.html">協尋列表</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="./Trackadopt.html" class="nav-link slideBarElement">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#grid"></use>
								</svg>
								領養追蹤清單
							</a>
						</li>
						<li>
							<a href="./TrackMiss.html" class="nav-link slideBarElement" ">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#people-circle"></use>
								</svg>
								協尋追蹤清單
							</a>
						</li>
						<li>
							<a href="./hospital.html" class="nav-link slideBarElement">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#people-circle"></use>
								</svg>
								收藏動物醫院
							</a>
						</li>
						<li>
							<a href="./support.html" class="nav-link slideBarElement">
								<svg class="bi pe-none me-2" width="16" height="16">
									<use xlink:href="#people-circle"></use>
								</svg>
								客服中心
							</a>
						</li>
					</ul>
					<hr>
				</div>


				<div class="col">
					<table class="table table-hover" style="margin-bottom: 80px;">
						<thead>
							<tr>
								<th style="width: 15%;">名字</th>
								<th style="width: 10%;">品種</th>
								<th style="width: 6%;">性別</th>
								<th style="width: 6%;">體型</th>
								<th style="width: 6%;">年齡</th>
								<th style="width: 18%;">結紮</th>
								<th style="width: 10%;">刊登日期</th>
								<th style="width: 10%;">狀態</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in ViewBag.selfAdoption)
							{

								<tr>

									<td>@item.Adoption.PetName</td>
									<td>@item.Adoption.PetBreed</td>
									<td>@item.Adoption.Gender</td>
									<td>@item.Adoption.PetSize</td>
									<td>@item.Adoption.PetAge</td>
									<td>@item.Adoption.Ligation</td>
									<td>@item.Adoption.Location</td>
									<td>
										<div>
											<button class="likeBtn" id="likeBtn" onclick="confirmUnfollow(@item.Adoption.AdId)">
												<i class="fa fa-heart"></i>
											</button>
										</div>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="row">
					@foreach (var item in ViewBag.selfAdoption)
					{
						<div class="col-4">
							@*<img src=" @item.CourseImageUrl" alt="" style="height: 100px; width:300px;">*@
							<h4>PetName： @item.Adoption.PetName </h4>
							<h4>PetType：@item.Adoption.PetType </h4>
							<h4>Gender：@item.Adoption.Gender </h4>
							<h4>PetAge：@item.Adoption.PetAge </h4>
							<h4>location：@item.Adoption.Location </h4>
							@*
					<button class="AddToCartBtn"><a href="/ShoppingAddToCarts/AddToCart?CID=@item.CourseId">加入購物車</a></button>
					<button> <a href="http://www.google.com">立即購買</a></button>*@
						</div>
					}
				</div>
				<script>
					function confirmUnfollow(adID) {
						console.log(adID);
						var isConfirmed = confirm("確定要取消追蹤嗎？");
						if (isConfirmed) {
							// 發送Ajax請求到控制器處理資料庫狀態更新
							$.ajax({
								url: '/Member/UnfollowAdoption',
								type: 'POST',
								data: { adID: adID },
								success: function (data) {
									console.log("成功取消追蹤，資料庫更新成功。");
									var row = document.getElementById('row_' + adID);
									row.style.display = 'none';
								},
								error: function (xhr) {
									console.log("取消追蹤失敗，發生錯誤：" + xhr.statusText);
								}
							});
						}
					}
				</script>
	</body>
	</html>
}